body{
    margin: 0;
    font-family: sans-serif;

    font-size: 15px;
    line-height: 1.6;
}

.container{
    width: 100%;
    max-width: 950px;
    margin: 0 auto;
}


#canvasForLine{
    background-color: rgb(21, 230, 202);
}
canvas{
    display: block;
    margin: 0 auto;
    background-color: blue;
}
.original{
    border-style: solid;
}
.fieldForCube{
    border-style: solid;
}
.fieldForLine{
    border-style: solid;
}
.result{
    border-style: solid;
}